h1,h2,h3,h4,h5,h6 {
    color:black;
}

.beer-table tr{
    line-height:10px !important;
    vertical-align: middle;
}

.beer-table th{
    line-height:20px !important;
    vertical-align: middle;
}

.beer-image{
    width:auto;
    max-height:30px !important;
}

.beer-logo-scroll{
    height: 305px;
}
.beer-logo-scroll img{
    width:auto;
    max-height:310px;
}

.small-listing{
    width:auto;
    max-height:40px !important;
}

.page-link {
    cursor:pointer;
}

.beer-info img{
    display:flex;
    max-height:250px;
    width:auto;
    margin:auto;
    display:block;
}

.beer-listing-header{
    color:white !important;
}

.beer-info{
    white-space: pre-wrap;
}

.beer-info h4{
    text-align:center !important;
}

/*TABLE HEAD ICONS*/
.table th.up {
    background-image: url("../../../public/img/up_arrow.png");
  }
  .table th.down {
    background-image: url("../../../public/img/down_arrow.png");
  }
  .table th.default {
    background-image: url("../../../public/img/default.png");
  }

  th.up,
th.default,
th.down {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
}

.page-item-active .page-link{
    background-color:#dc3545 !important;
    color:white;
}

.page-link{color:black;}
