h1,h2,h3,h4,h5,h6 {
    color:black;
}

.brewery-logo-scroll {
    padding:10px 0;
    margin: 10px 0;
}

.brewery-logo-scroll img {
    max-height: 175px;
    justify-content: center;
}

div.brewery-logo-scroll{
    height:175px;
    width:auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

tr{
    line-height:13px !important;
}

.brewery-list{
    display:flex;
    flex-wrap: wrap;
}

.brewery-card img {
    width:auto;
    max-height:100px;
}

.card-text{
    text-align: center;
}

.card{
    margin-right:30px;
    min-height:325px;
}

.card-header{
    font-family:Roadkill;
    font-size:30px;
    text-shadow: 2px 2px #000000;
}