h1,h2,h3,h4,h5,h6 {
    color:black;
}

.brewery-logo-scroll {
    padding:10px 0;
    margin: 10px 0;
}

.brewery-logo-scroll img {
    max-height: 200px;
    vertical-align: middle;
    display:inline;
    vertical-align:baseline;
}

div.brewery-logo-scroll{
    height:200px;
    width:410px;
    display:flex;
    justify-content: center;
    align-items: center;
}

tr{
    line-height:13px !important;
}

.listing-logo{
    max-height:85px;
    min-height:60px;
    width:auto;
    vertical-align:middle;
    display:inline;
}

.listing-info{
    text-align: left !important;
}

.brewery-list{
    display:flex;
    flex-wrap: wrap;
}